doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Seorang Game Artist

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Game Artist
        h3 Present By
        ul
          li Hendra Imanuel 121111061
          li Julio Parbuttian 101112282
      
      section
        h2 Apa sih hubungannya Artist dengan game?
   
      section
        p <strong>Art</strong> dan <strong>animasi</strong> mengacu kepada bagaimana tampilan fisik sebuah game, yang meliputi kemasan dari cd agar menarik, tekstur pada masing-masing karakter, tampilan antarmuka, bagaimana pergerakan dari tangan dan kaki ketika karakter bergerak, dan lain-lain Meskipun programmer bertanggung jawab atas kemana dan mengapa karakter bergerak, artist menangani bagaimana tampilan karakter itu bergerak. Dan ketika seorang designer mendesain tikungan pada game racing, maka seorang artist bertugas untuk memoles tekstur dari jalanan dan sekitarnya.
        
      section
        h1 Jadi Artis itu ?
        
      section  
        p Artist adalah seorang yang membuat sebuah karakter dalam sebuah tampilan yang 2D atau 3D. dan juga membuat action-action pada karakter tersebut sehingga dapat melukakan hal-hal seperti berjalan dan sebagainya.

      section
        h2 Yang dikerjakan para artist
        ul 
          li Artist menciptakan unsur-unsur didalam game baik secara 2D atau 3D.
          li Mereka lah yang memutuskan bagaimana nantinya game ini terlihat: karakter, environment, dan object. 
          li Tampilan dan pergerakan karakter di environment akan membuat sebuah game terlihat nyata.

      section(data-bespoke-hash='named-route')
        h2 Hasil Kerjanya Artist Mana?
        h3 sebelum karya dari Game Artist terbentuk mereka mempunyai alur kerja 
      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild